# System files
.DS_Store

# Conda files
venv/

# Project files
####################

# Below is from Udemy course so keeping locally for Copyright reasons
*assignment.ipynb
*assignment_.ipynb
*assignment_.ipynb
*assignment_*.ipynb
*assignments_*.ipynb